.rotating-image{
    width: 80px; /* Настройте ширину изображения */
    height: auto;
    transition: transform 1s ease-in-out; /* Плавность анимации */
}
.logo_1{
    margin-bottom: 40px;
    text-align: center;
}
  
.rotating-image .rotate {
    transform: rotate(180deg); /* Поворот на 360 градусов */
}
  