/* Базовые стили */
.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  z-index: 1;
}

/* Контент слайдера */
.slider-content {
  display: flex;
  transition: transform 0.8s ease-in-out;
  height: 100%;
  width: 100%;
}

.slider-image-container {
  position: relative; /* Добавлено для позиционирования текста и кнопок внутри контейнера с изображением */
  min-width: 100%;
  height: 100%;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Стили для стрелок слайдера */
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #9e9e9ea9;
  border: none;
  color: var(--button-text-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.slider-arrow.left-arrow {
  left: 35px;
}

.slider-arrow.right-arrow {
  right: 35px;
}

.arrow_r, .arrow_l {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-arrow:hover {
  background-color: #fcfcfc72;
}

/* Стили для точек слайдера */
.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.slider-dots .dot {
  width: 12px;
  height: 12px;
  background-color: var(--border-color);
  border-radius: 50%;
  cursor: pointer;
}

.slider-dots .dot.active {
  background-color: var(--primary-color);
}

/* Стили для текста и кнопки на слайде */
.slider-text-center {
  position: absolute;
  top: 50%; /* Центрирование по вертикали */
  left: 50%; /* Центрирование по горизонтали */
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--secondary-color); /* Белый цвет текста */
  background-color: rgba(0, 0, 0, 0); /* Прозрачный фон */
  padding: 20px 30px;
  border-radius: 10px;
  width: auto;
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slider-text-center.hideText {
  opacity: 0;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slider-text-center.visible {
  opacity: 1;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slider-text-center h1 {
  font-family: 'PD ExtraBold';
  font-size: 48px; /* Крупный заголовок */
  margin: 0;
  color: var(--primary-color); /* Цвет заголовка, соответствующий стилю */
}

.slider-text-center p {
  font-family:'PT Sans';
  font-size: 27px; /* Подзаголовок меньшего размера */
  margin: 10px 0 20px;
  color: var(--primary-color); /* Цвет подзаголовка */
}

.slider-button-center {
  font-family:'PT Sans';
  background-color:var(--text-color); /* Цвет кнопки, соответствующий стилю */
  color: var(--secondary-color);
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-button-center:hover {
  background-color: var(--hover-bg-color); /* Темный оттенок при наведении */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Адаптивные стили для планшетов */
@media (max-width: 1024px) {
  .slider {
    height: 450px;
  }

  .slider-arrow {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .slider-arrow.left-arrow {
    left: 20px;
  }

  .slider-arrow.right-arrow {
    right: 20px;
  }

  .slider-dots {
    bottom: 15px;
    gap: 8px;
  }

  .slider-dots .dot {
    width: 10px;
    height: 10px;
  }
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 767px) {
  .slider {
    height: 300px;
  }

  .slider-arrow {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .slider-arrow.left-arrow {
    left: 15px;
  }

  .slider-arrow.right-arrow {
    right: 15px;
  }

  .slider-dots {
    bottom: 10px;
    gap: 6px;
  }

  .slider-dots .dot {
    width: 8px;
    height: 8px;
  }
}
