.why-us-wrapper {
    text-align: center;
    margin: 40px 0;
    background-color: var(--secondary-color);
    padding-top:20px;
    padding-bottom:60px;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
  }
  
  .blocks-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .block {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin:0 10px;
  }
  
  .block-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .block-text {
    font-size: 1.2rem;
    color: #555;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .blocks-container {
      flex-direction: column;
      align-items: center;
    }
  
    .block {
      width: 80%;
      margin-bottom: 20px;
    }
  }
  